@{
    ViewData["Title"] = "Home Page";
}

    <div class="container mt-5 pt-4 text-center">
        <h2 class="mb-4">Our Distinguished Doctor</h2>
        <div class="row">
            <div class="col-md-4" action="Index">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzMnqgs3U7KpmaQUo-qSbPEYV_rmz-_dtCoQ&s">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLdVIk8cxsG_9Uc2jbikFLztiafFFv13U75A&s">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXRFGy3zAtWQ1gmGiF5LW4eRlLVGc8n6Zr7w&s">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx01lWx-e6BR_9X9g-5G5a8pdyYKBTzHN9Zg&s">
                </div>
            </div> 
            <div class="col-md-4">
                <div class="card doctor-card p-3 shadow-sm">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2COC_xTJEw7KrSNwrDjxjFubitGTLB7Cwog&s">
                </div>
            </div>
        </div>
    </div>

<div class="about-section text-center">
    <div class="container">
        <h2 class="mb-4">About us</h2>
        <p>
            El-Ashry Hospital is one of the best hospitals in the region,
            providing advanced medical services with the latest technologies.
            We have a team of specialized doctors who strive to provide distinguished health care to all patients..
        </p>
        <h4 class="mt-4">📍 Our Location </h4>
        <p>Nasr Street, Health District, Medical City, Arab Republic of Egypt</p>
        <h4 class="mt-4">📞 Contact us</h4>
        <p><strong>Phone:</strong> 0123456789</p>
        <p><strong>Email:</strong> info@hospital.com</p>
    </div>
</div>

