
@model RoomViewModel

<div class="container mb-5">
    <label asp-for="RoomNumber" class="col-form-label"></label>
    <input asp-for="RoomNumber" class="form-control"readonly>
</div>

<div class="container mb-5">
    <label asp-for="Type" class="col-form-label"></label>
    <input asp-for="Type" class="form-control"readonly>
</div>

