
@model PatientViewModel
@{
    ViewData["Title"] = "Create";
}


<div style="max-width:700px;" class=" about-section mt-5 container text-center ">
    <h2 class="mb-4">Create Patient </h2>
    <div asp-validation-summary="ModelOnly"></div>

    <form asp-action="Create">
        <partial name="PartialPatient/CreateAndUpdatePatient">
            <div class="mt-4">
                 <input type="submit" value="Create" class="btn btn-outline-success"/>
                 <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
            </div>
    </form>
</div>
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


}
