@model PatientViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class=" about-section mt-5 container text-center">
    <h2 class="mb-4">Are You Sure ?</h2>
    <form asp-action="Delete">

            <div asp-validation-summary="ModelOnly"></div>
            <partial name="PartialPatient/DeleteAndDetailsPatient">
            <div class="mt-4">
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                 <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
			</div>
    </form>
</div>

